.espacio {
    padding-top: 25%;
}

ion-content {
    --background: url('https://cdn.pixabay.com/photo/2018/06/24/08/01/dark-background-3494082_1280.jpg')
    ;
   
  }

ion-col > ion-button{
    --border-color:white;
    --color:white;
}