<ion-header [translucent]="true" >
  <ion-toolbar class="contenido-color">
    <div style="display: flex; justify-content: space-between;">
      <ion-button fill="clear" (click)="volver()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title class="texto">agregar_coleccion</ion-title>
      <ion-fab-button fill="clear" href="/home">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido-color">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">agregar_coleccion</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
