
<ion-content class="contenido-color">

  <!--Menu para almacenar las funciones de la aplicacion-->
  <ion-menu side="end" contentId="main-content" mode="md"  >
      <ion-toolbar style="padding-top: 8px;">
        <ion-title class="ion-text-center texto">CONTENIDOS</ion-title>
      </ion-toolbar>
    <ion-content class="ion-padding menu-content">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-button expand="block" color="dark" href="/pokemon">
              <ion-icon name="flash"></ion-icon>
              Pokemon
            </ion-button>
          </ion-col>
        <ion-col size="12">
          <ion-button expand="block" color="dark">
            <ion-icon slot="start" name="star"></ion-icon>
            Diseños
          </ion-button>
        </ion-col>
        <ion-col size="12" >
          <ion-button expand="block" color="dark" href="/colecciones">
            <ion-icon slot="start" name="apps-outline"></ion-icon>
            Colecciones
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button expand="block" color="dark">

            <ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>
            Blog/Foro
          </ion-button>
        </ion-col>
        <ion-col size="12">


          <ion-accordion-group>
            <ion-accordion value="first" class="acordeon">
              <ion-item slot="header" class="item-color">
                <ion-label *ngIf="usuarioIniciado==false; else elseBlock" class="texto">Sesion</ion-label>
                  <ng-template #elseBlock>
                    <ion-label>{{usuario}}</ion-label>
                  </ng-template>
              </ion-item>
              <div class="ion-padding" slot="content" *ngIf="usuarioIniciado==false">
                <ion-button expand="block" color="dark" href="/iniciar">

                <ion-icon slot="start" name="person-circle-outline"></ion-icon>
                Iniciar Sesion

              </ion-button></div>
              <div class="ion-padding" slot="content" *ngIf="usuarioIniciado==false">
                <ion-button expand="block" color="dark" href="/registrarse">

                <ion-icon slot="start" name="person-add-outline"></ion-icon>
                Registrarse

              </ion-button></div>

              <div class="ion-padding" slot="content" *ngIf="usuarioIniciado==true">
                <ion-button expand="block" color="dark" (click)="cerrarSesion()">

                  <ion-icon slot="start" name="log-out-outline"></ion-icon>
                Cerrar sesion

              </ion-button></div>
            </ion-accordion>

            <ion-accordion value="second" style="margin-top: 20px;" class="acordeon" *ngIf="usuarioAdmin">
              <ion-item slot="header" class="item-color">
                <ion-label>Administracion</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-button expand="block" color="dark" href="/menu">

                <ion-icon slot="start" name="grid-outline"></ion-icon>

                Menu

              </ion-button></div>

            </ion-accordion>
          </ion-accordion-group>
        </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-menu>

  <!--Contenido de la pagina-->
  <div class="ion-page" id="main-content" style="box-shadow: 10px 5px 5px black; background-color: #D9D9D9;">
    <!--Header de la pagina-->
    <ion-header>

      <div class="d-flex " style="padding-top: 35px; background-color: black;">
        <ion-avatar style="height: 50px;
        width: 50px;">
          <img alt="Silhouette of a person's head" src="../../assets/icon/avatar.png" />
        </ion-avatar>
        <h2>3D-GALLERY</h2>
        <ion-buttons>
          <ion-menu-button style="color:aliceblue"></ion-menu-button>
        </ion-buttons>
      </div>


    </ion-header>

    <ion-content class="ion-padding contenido-color">
      <div class="centrar">
        <img src="https://i.gifer.com/ZalX.gif" class="img" alt="">

        <h4 class="ion-text-center" style="color: aliceblue;" >MODELOS DEL MOMENTO</h4>

        <img src="https://i.gifer.com/ZalX.gif" class="img" alt="">

      </div>
      
      <!--Listado de los productos-->
      <ion-card *ngFor="let x of productos" mode="md" style="margin-top: 50px; " class="hola border-amarillo" >
          <img style="width: 100vh; "  src="{{x.imagen}}" />


        <ion-card-header >
          <ion-card-title class="ion-text-center texto">{{x.nombre}}</ion-card-title>
          <ion-card-subtitle class="texto ion-text-center">${{x.precio}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-button class="butonsito" id="{{x.id}}"> Ver </ion-button>
        </ion-card-content>

        <ion-modal #modal trigger="{{x.id}}">
          <ng-template>
            <ion-content class="contenido-color">
              <ion-header>
                <ion-toolbar>
                  <div class="centrar">
                    <ion-title class="texto">{{x.nombre}}</ion-title>
                  <ion-button (click)="modal.dismiss()">Salir</ion-button>
                  </div>
                  
                </ion-toolbar>
              </ion-header>


              <div class="ion-padding bordersin centrar">

                <img src="{{x.imagen}}" alt="" style="border-radius: 20px;">
              </div>

              <div class="ion-padding bordersin">
                <h2 class="texto">Descripcion:</h2>
                <p class="texto">{{x.descripcion}}</p>

                <h3 class="texto" style="border: solid 2px grey; padding: 5px; text-align: center;
                border-radius: 20px;
                ">${{x.precio}} CLP</h3>

                

                <ion-button id="pop{{x.id}}" color="warning" expand="full">COMPRAR</ion-button>
                <ion-popover trigger="pop{{x.id}}" triggerAction="click">
                  <ng-template>
                    <ion-content class="ion-padding">Debes tener un metodo de pago!</ion-content>
                    <ion-button color="tertiary">Ingresar metodo de pago</ion-button>
                  </ng-template>
                </ion-popover>

              </div>
              

            </ion-content>
          </ng-template>
        </ion-modal>

      </ion-card>

      

      

    </ion-content>
  </div>
</ion-content>
