#container {
  text-align: center;
  position: absolute;

  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.d-flex{
  padding: 20px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
}
.contenido-color{
  --background:var(--fondo-oscuro);
}

h1,h2,h4{
  color: white;
}
ion-menu ion-toolbar{
  ion-title{
    color: aliceblue;
  }
  --background:var(--fondo-oscuro);
}
.menu-content{
  --background:rgb(43, 43, 43);
}

.item-color{
  ion-label{
    color: aliceblue;
  }
  --background:var(--fondo-oscuro);
}
.acordeon{
  background:var(--fondo-oscuro);
}