
<ion-content class="contenido-color">

  <!--Menu para almacenar las funciones de la aplicacion-->
  <ion-menu side="end" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title class="ion-text-center">CONTENIDOS</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding menu-content">
      <ion-grid>
        <ion-row>
        <ion-col size="12">
          <ion-button expand="block" color="dark">
            <ion-icon slot="start" name="star"></ion-icon>
            Diseños
          </ion-button>
        </ion-col>
        <ion-col size="12" >
          <ion-button expand="block" color="dark" >
            <ion-icon slot="start" name="apps-outline"></ion-icon>
            Colecciones
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button expand="block" color="dark">

            <ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>
            Blog/Foro
          </ion-button>
        </ion-col>
        <ion-col size="12">


          <ion-accordion-group>
            <ion-accordion value="first" class="acordeon">
              <ion-item slot="header" class="item-color">
                <ion-label *ngIf="usuarioIniciado==false; else elseBlock">Sesion</ion-label>
                  <ng-template #elseBlock>
                    <ion-label>{{usuario}}</ion-label>
                  </ng-template>
              </ion-item>
              <div class="ion-padding" slot="content" *ngIf="usuarioIniciado==false">
                <ion-button expand="block" color="dark" href="/iniciar">

                <ion-icon slot="start" name="person-circle-outline"></ion-icon>
                Iniciar Sesion
              
              </ion-button></div>
              <div class="ion-padding" slot="content" *ngIf="usuarioIniciado==false">
                <ion-button expand="block" color="dark" href="/registrarse">

                <ion-icon slot="start" name="person-add-outline"></ion-icon>
                Registrarse
              
              </ion-button></div>

              <div class="ion-padding" slot="content" *ngIf="usuarioIniciado==true">
                <ion-button expand="block" color="dark" (click)="cerrarSesion()">

                  <ion-icon slot="start" name="log-out-outline"></ion-icon>
                Cerrar sesion
              
              </ion-button></div>
            </ion-accordion>

            <ion-accordion value="second" style="margin-top: 20px;" class="acordeon" *ngIf="usuarioAdmin">
              <ion-item slot="header" class="item-color">
                <ion-label>Administracion</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-button expand="block" color="dark" href="/menu">

                <ion-icon slot="start" name="grid-outline"></ion-icon>
                
                Menu
              
              </ion-button></div>
              
            </ion-accordion>
          </ion-accordion-group>
        </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-menu>

  <!--Contenido de la pagina-->
  <div class="ion-page" id="main-content" style="box-shadow: 10px 5px 5px black;">
    <!--Header de la pagina-->
    <ion-header>

      <div class="d-flex " style="padding-top: 35px;">
        <ion-avatar style="height: 50px;
        width: 50px;">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <h2>3D-GALLERY</h2>
        <ion-buttons>
          <ion-menu-button style="color:aliceblue"></ion-menu-button>
        </ion-buttons>
      </div>


    </ion-header>
    <ion-content class="ion-padding contenido-color"><H1 class="ion-text-center">3D-GALLERY LO MEJOR...</H1>
    
      <!--Listado de los productos-->
      <ion-card *ngFor="let x of productos">
        <div style="display: flex; justify-content: center;">
          <img alt="Silhouette of mountains" src="{{x.imagen}}" />
        </div>
        
        <ion-card-header>
          <ion-card-title>{{x.nombre}}</ion-card-title>
          <ion-card-subtitle>${{x.precio}}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          {{x.descripcion}}
        </ion-card-content>
      </ion-card>
    </ion-content>
  </div>
</ion-content>
