<ion-header [translucent]="true">
  <ion-toolbar class="contenido-color">
    <div class="flex">
      <ion-button fill="clear" (click)="volver()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <h3 class="texto">Colecciones</h3>
      <ion-fab-button href="/home">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
    </div>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" class="contenido-color">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">colecciones</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>
