<ion-header [translucent]="true">
  <div class="flex">
    <ion-button fill="clear" (click)="volver()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <h3>Colecciones</h3>
    <ion-fab-button>
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">colecciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Weno pal mio</h1>

  <h3 *ngFor="let x of destacados">
    {{x.nombre}}
  </h3>

</ion-content>
