.texto{
    
    font-size: 15px;
}
.espacio {
    padding-top: 20px;

}


.espacio2{
    padding-top: 35px;
}

.a{
    display: flex;
    justify-content: center;
}

ion-content {
    --background: url('https://e7.pngegg.com/pngimages/710/241/png-transparent-dark-black-abstract-background-thumbnail.png') ;
   
  }

 .border{
    border: 1px solid gray;
    border-radius: 3px;
    height: 100px;
}

.espacio3{
    padding-top: 13px;
}